*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a
{
	text-decoration: none;;
	color: white;
	padding: 5px 20px;
	border: 2px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 300px;
	height: auto; 
	padding: 20px;
}

.main{
	max-width: 1800px;
	margin: auto;
}

.title{
	position: absolute;
	top: 42%;
	left: 38%;
	transform: translate(-50%,-50%;);
}

.title h1{
	color: #fff;
	font-size: 70px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

button{
	position: absolute;
	top: 55%;
	left: 48%;
	transform: translate(-50%,-50%;);
}

button{
	background-color: transparent;
	color: #000;
	border: 1px solid #fff;
	padding: 15px 35px;
	border-radius: 6px;
	color: #F5F5DC;
	transition: 0.5s ease; 
	font-family: sans-serif;
}

button:hover{
	background-color: rgba(0,0,0,0.5);
	color: #F5F5DC;
}

#popup{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	display: none;
}

#video{
max-width: 75%; 
margin: 0 auto;
}
