*{
	background-color: #000000;
	font-family: sans-serif;
}

h1{
	color: white;
	position: absolute;
  	left: 850px;
  	top: 100px;
}

#video{
position: absolute; 
width: 100%;
top: 25%;
margin: 0 auto;
text-align: center;
}